<h1><%= @movie.title %>'s Show Page</h1>

<h3>Movie Deatils: </h3>
  <p><strong>Title: </strong><%= @movie.title %></p>
  <p><strong>Creation Year: </strong><%= @movie.creation_year %></p>
  <p><strong>Genre: </strong><%= @movie.genre %></p>

<h3>Movie Actors: </h3>
<% @movie.youngest_oldest_actors.each do |actor| %>
  <p>Name: <%= actor.name %></p>
  <p>Age: <%= actor.age %></p>
<% end %>

<h3>Average Age of Actors: <%= @movie.average_age %></h3>

<h3><strong>Add and actor using actor's id: </strong></h3>
<%= form_with url: "/movies/#{@movie.id}/actors", method: :post, local: true do |f| %>
  <%= f.label :actor_id %>
  <%= f.text_field :actor_id %><br><br>
  <%= f.submit "Add Actor" %>
<% end %>